<% layout('layouts/Boilerplate') %> 

<div class="row">
    <div class="col l6 offset-l3">
        <div class="card pink lighten-4">
            <h4 class="red-text text-darken-4"><%= err.message %> </h4>
        </div>
    </div>
</div>